@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.verde {
  color: rgb(6, 252, 6);
}

.rojo {
  color: rgb(255, 9, 9);
}

* {
  font-family: "Montserrat", sans-serif;
}
